<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <st2i-private-layout-navbar
    (toggleSidebarEventEmitter)="sidebar.toggleSidebar($event)"></st2i-private-layout-navbar>
  <st2i-private-layout-sidebar #sidebar [listMenus]="listMenus"></st2i-private-layout-sidebar>
  <div class="main-panel" [ngStyle]="{'min-height': mainPanelHeight}">
    <st2i-breadcrumb [isContentLayout]="true"></st2i-breadcrumb>
    <st2i-outlet></st2i-outlet>
  </div>
<!--  <st2i-private-layout-footer style="z-index: 1000;"></st2i-private-layout-footer>-->
</div>


<!--<ng-container *ngIf="!isSmallScreen">-->
<!--  <st2i-spinner-container [isLoading]="loading" [diametre]="65">-->
<!--    <div fxLayout="column" fxLayoutAlign="space-between stretch">-->
<!--      <st2i-private-layout-navbar-->
<!--        (toggleSidebarEventEmitter)="sidebar.toggleSidebar($event)"></st2i-private-layout-navbar>-->
<!--      <st2i-private-layout-sidebar #sidebar [listMenus]="listMenus"></st2i-private-layout-sidebar>-->
<!--      <div class="main-panel" [ngStyle]="{'min-height': mainPanelHeight}">-->
<!--        <st2i-breadcrumb [isContentLayout]="true"></st2i-breadcrumb>-->
<!--        <st2i-outlet></st2i-outlet>-->
<!--      </div>-->
<!--      <st2i-private-layout-footer style="z-index: 1000;"></st2i-private-layout-footer>-->
<!--    </div>-->
<!--  </st2i-spinner-container>-->
<!--</ng-container>-->

<!--<ng-container *ngIf="isSmallScreen">-->
<!--  <div fxLayout="column" fxLayoutAlign="space-between stretch">-->
<!--    <st2i-private-layout-navbar-->
<!--      (toggleSidebarEventEmitter)="sidebar.toggleSidebar($event)"></st2i-private-layout-navbar>-->
<!--    <st2i-private-layout-sidebar #sidebar [listMenus]="listMenus">-->
<!--      <div class="main-panel" [ngStyle]="{'min-height': mainPanelHeight}">-->
<!--        <st2i-breadcrumb [isContentLayout]="true"></st2i-breadcrumb>-->
<!--        <st2i-outlet></st2i-outlet>-->
<!--      </div>-->
<!--    </st2i-private-layout-sidebar>-->
<!--    <st2i-spinner-container [isLoading]="loading" [diametre]="65"></st2i-spinner-container>-->
<!--    <st2i-private-layout-footer style="z-index: 1000;"></st2i-private-layout-footer>-->
<!--  </div>-->
<!--</ng-container>-->
