.dialog-title {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 0 !important;
}

.dialog-close-btn {
    /*width: 1.8rem !important;*/
    /*height: 1.8rem !important;*/
    line-height: 0 !important;
    /*background-color: #dadada;*/
}


.dialog-headline {
    margin-bottom: 0.625rem;
}

.st2i-dialog-header {
    display: flex;
    flex-direction: row;
    color: white;
    background-color:var(--primary-color);
    padding: 0.313rem 1.5rem;
    /*border-radius: 0.625rem 0;*/
    width: 100% !important;
    height: 2.563rem !important;
}

.st2i-dialog-content {
    margin: 1.5rem 0 !important;
    padding: 0 1.5rem!important;
}
