@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$app_blue: #35363a;
$app_fuchsia: #8b47b2;

$app_color: $app_blue;

:export {
  $app_color: $app_blue;
}

.pr-clr {
  color: $app_color;
}

.pr-bgc {
  background-color: $app_color;
}

$mat-pink-custom: (
        50: $app_color,
        100: $app_color,
        200: $app_color,
        300: $app_color,
        400: $app_color,
        500: $app_color,
        600: $app_color,
        700: $app_color,
        800: $app_color,
        900: $app_color,
        A100: $app_color,
        A200: $app_color,
        A400: $app_color,
        A700: $app_color,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        ),
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-pink-custom, A700);
$candy-app-accent: mat-palette($mat-pink, A700, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme(
                $candy-app-primary,
                $candy-app-accent,
                $candy-app-warn
);
//:root {
//  primary-color: $app_color
//}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
