<body [dir]="appTranslateService.getDir()">
<link
  *ngIf="appTranslateService.getDir() === 'ltr'"
  href="/web-app/src/assets/css/ltr.css"
  rel="stylesheet"
/>
<link
  *ngIf="appTranslateService.getDir() === 'rtl'"
  href="/web-app/src/assets/css/rtl.css"
  rel="stylesheet"
/>
<router-outlet></router-outlet>

</body>
