.mat-card {
  padding: 0;
}

.st2i-card-header {
  display: flex;
  flex-direction: row;
  color: white;
  background-color:var(--primary-color);
  padding: 5px 0;
  border-radius: 10px 10px 0 0;
  width: 100% !important;
}

.st2i-card-title {
  font-weight: 600;
  font-size: 19px;
}
